<!DOCTYPE html>
<html>
<head>
    <title>Blog List</title>
    <style>
       
        a{
            text-decoration:none;
            color:dodgerblue;
        }

        .mydiv{
            height:115px;
            width:25%;
            background-color:blue;
            margin-left:80%
          
          
        }

        .firstdiv{
            height:130px;
            width:28%;
            background-color:#D3D3D3;
            margin-left:60%;
            margin-top:-101px;
            

        }
    </style>
</head>
<body>
    
    <h1>My Blog</h1>
    <hr style="width:50%;text-align:left;margin-left:0">
    <div class="firstdiv">
        <h2>My Blog</h2>
        <h4> This is my<h4>
    </div>

    
    {% for blog in page_obj %}
        <h2><a href="{% url 'detail' blog.id %}">{{ blog.title }}</a></h2>
        <small><i>Published {{ blog.created_at|date:"F j, Y, P" }} by {{ blog.author }}</i></small>
        <h3>{{ blog.content }}</h3>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
</body>
</html>
