<!DOCTYPE html>
<html>
<head>
    <title>{{ blog.title }}</title>
    <style>
       
        button{
            
            background-color:dodgerblue;
            color:#ffffff;
        }

        
        .firstdiv{
            height:130px;
            width:28%;
            background-color:#D3D3D3;
            margin-left:60%;
            margin-top:-89px;
            

        }
    </style>
</head>
<body>
 
   
    <h2>Share "{{ blog.title }}" by e-mail</h2>
    <hr style="width:50%;text-align:left;margin-left:0">
    <div class="firstdiv">
        <h2>My Blog</h2>
        <h4> This is my<h4>
    </div>


    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send Email</button>
    </form>
</body>
</html>
